blue_twitter = #C0DEED;
deepblue_twitter = #8EC1DA;
red = #F00000
blue = #00000F
pastel_yellow = #F7E967
pastel_green = #A9CF54

border-radius(values) {
  -webkit-border-radius: values;
    -moz-border-radius: values;
      border-radius: values;
}

border(borderWidth = 2px) {
  border: borderWidth solid #F00;
  padding: 3+4px;
}

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  width: 960px;
  height: auto;
  margin: 0 auto;